<table id="ic-print-header-table">
	<tr>
  		<th width="50%" location="appname1"></th>
		<td width="343" location="logo"></td>
		<th width="50%" location="appname2"></th>
	</tr>
 	<tr>
  		<td colspan="3" location="address"></td>
 	</tr>
 	<tr>
    	<td colspan="3" location="ic-title"></td>
 	</tr>
</table>
<table id="ic-print-description-table">
	<tr>
		<th location="student-fio-caption"></th>
		<td location="student-fio"></td>
		<th rowspan="2" location="specialty-caption"></th>
		<td rowspan="2" location="specialty"></td>
	</tr>
	<tr>
		<th location="student-code-caption"></th>
		<td location="student-code"></td>
	</tr>
	<tr>
		<th location="semester-caption"></th>
		<td location="semester"></td>
		<th rowspan="2" location="faculty-caption"></th>
		<td rowspan="2" location="faculty"></td>
	</tr>
	<tr>
		<th location="study-year-caption"></th>
		<td location="study-year"></td>
	</tr>
</table>
<table id="ic-print-data-table">
	<tr>
		<td location="data-table"></td>
	</tr>
</table>
<div location="status-a"></div>
<div location="status-b"></div>
<table id="ic-print-sign-table">
	<tr>
		<td location="student-caption"></td>
		<td class="text-right" location="student-sign"></td>
	</tr>
	<tr>
		<td location="adviser-caption"></td>
		<td class="text-right" location="adviser-sign"></td>
	</tr>
	<tr>
		<td location="chair-chief-caption"></td>
		<td class="text-right" location="chair-chief-sign"></td>
	</tr>
	<tr>
		<td location="faculty-chief-caption"></td>
		<td class="text-right" location="faculty-chief-sign"></td>
	</tr>
	<tr>
		<td location="reg-date-caption"></td>
		<td class="text-right" location="reg-date"></td>
	</tr>
</table>
