<table class="schedule-table">
	<tr>
		<td></td>
		<td class="schedule-td" location="wd1"></td>
		<td class="schedule-td" location="wd2"></td>
		<td class="schedule-td" location="wd3"></td>
		<td class="schedule-td" location="wd4"></td>
		<td class="schedule-td" location="wd5"></td>
		<td class="schedule-td" location="wd6"></td>
	</tr>
	<tr>
		<td location="dh1"></td>
		<td class="schedule-bordered-td" location="sch11"></td>
		<td class="schedule-bordered-td" location="sch21"></td>
		<td class="schedule-bordered-td" location="sch31"></td>
		<td class="schedule-bordered-td" location="sch41"></td>
		<td class="schedule-bordered-td" location="sch51"></td>
		<td class="schedule-bordered-td" location="sch61"></td>
	</tr>
	<tr>
		<td location="dh2"></td>
		<td class="schedule-bordered-td" location="sch12"></td>
		<td class="schedule-bordered-td" location="sch22"></td>
		<td class="schedule-bordered-td" location="sch32"></td>
		<td class="schedule-bordered-td" location="sch42"></td>
		<td class="schedule-bordered-td" location="sch52"></td>
		<td class="schedule-bordered-td" location="sch62"></td>
	</tr>
	<tr>
		<td location="dh3"></td>
		<td class="schedule-bordered-td" location="sch13"></td>
		<td class="schedule-bordered-td" location="sch23"></td>
		<td class="schedule-bordered-td" location="sch33"></td>
		<td class="schedule-bordered-td" location="sch43"></td>
		<td class="schedule-bordered-td" location="sch53"></td>
		<td class="schedule-bordered-td" location="sch63"></td>
	</tr>
	<tr>
		<td location="dh4"></td>
		<td class="schedule-bordered-td" location="sch14"></td>
		<td class="schedule-bordered-td" location="sch24"></td>
		<td class="schedule-bordered-td" location="sch34"></td>
		<td class="schedule-bordered-td" location="sch44"></td>
		<td class="schedule-bordered-td" location="sch54"></td>
		<td class="schedule-bordered-td" location="sch64"></td>
	</tr>
	<tr>
		<td location="dh5"></td>
		<td class="schedule-bordered-td" location="sch15"></td>
		<td class="schedule-bordered-td" location="sch25"></td>
		<td class="schedule-bordered-td" location="sch35"></td>
		<td class="schedule-bordered-td" location="sch45"></td>
		<td class="schedule-bordered-td" location="sch55"></td>
		<td class="schedule-bordered-td" location="sch65"></td>
	</tr>
	<tr>
		<td location="dh6"></td>
		<td class="schedule-bordered-td" location="sch16"></td>
		<td class="schedule-bordered-td" location="sch26"></td>
		<td class="schedule-bordered-td" location="sch36"></td>
		<td class="schedule-bordered-td" location="sch46"></td>
		<td class="schedule-bordered-td" location="sch56"></td>
		<td class="schedule-bordered-td" location="sch66"></td>
	</tr>
	<tr>
		<td location="dh7"></td>
		<td class="schedule-bordered-td" location="sch17"></td>
		<td class="schedule-bordered-td" location="sch27"></td>
		<td class="schedule-bordered-td" location="sch37"></td>
		<td class="schedule-bordered-td" location="sch47"></td>
		<td class="schedule-bordered-td" location="sch57"></td>
		<td class="schedule-bordered-td" location="sch67"></td>
	</tr>
	<tr>
		<td location="dh8"></td>
		<td class="schedule-bordered-td" location="sch18"></td>
		<td class="schedule-bordered-td" location="sch28"></td>
		<td class="schedule-bordered-td" location="sch38"></td>
		<td class="schedule-bordered-td" location="sch48"></td>
		<td class="schedule-bordered-td" location="sch58"></td>
		<td class="schedule-bordered-td" location="sch68"></td>
	</tr>
	<tr>
		<td location="dh9"></td>
		<td class="schedule-bordered-td" location="sch19"></td>
		<td class="schedule-bordered-td" location="sch29"></td>
		<td class="schedule-bordered-td" location="sch39"></td>
		<td class="schedule-bordered-td" location="sch49"></td>
		<td class="schedule-bordered-td" location="sch59"></td>
		<td class="schedule-bordered-td" location="sch69"></td>
	</tr>
	<tr>
		<td location="dh10"></td>
		<td class="schedule-bordered-td" location="sch110"></td>
		<td class="schedule-bordered-td" location="sch210"></td>
		<td class="schedule-bordered-td" location="sch310"></td>
		<td class="schedule-bordered-td" location="sch410"></td>
		<td class="schedule-bordered-td" location="sch510"></td>
		<td class="schedule-bordered-td" location="sch610"></td>
	</tr>
	<tr>
		<td location="dh11"></td>
		<td class="schedule-bordered-td" location="sch111"></td>
		<td class="schedule-bordered-td" location="sch211"></td>
		<td class="schedule-bordered-td" location="sch311"></td>
		<td class="schedule-bordered-td" location="sch411"></td>
		<td class="schedule-bordered-td" location="sch511"></td>
		<td class="schedule-bordered-td" location="sch611"></td>
	</tr>
	<tr>
		<td location="dh12"></td>
		<td class="schedule-bordered-td" location="sch112"></td>
		<td class="schedule-bordered-td" location="sch212"></td>
		<td class="schedule-bordered-td" location="sch312"></td>
		<td class="schedule-bordered-td" location="sch412"></td>
		<td class="schedule-bordered-td" location="sch512"></td>
		<td class="schedule-bordered-td" location="sch612"></td>
	</tr>
	<tr>
		<td location="dh13"></td>
		<td class="schedule-bordered-td" location="sch113"></td>
		<td class="schedule-bordered-td" location="sch213"></td>
		<td class="schedule-bordered-td" location="sch313"></td>
		<td class="schedule-bordered-td" location="sch413"></td>
		<td class="schedule-bordered-td" location="sch513"></td>
		<td class="schedule-bordered-td" location="sch613"></td>
	</tr>
	<tr>
		<td location="dh14"></td>
		<td class="schedule-bordered-td" location="sch114"></td>
		<td class="schedule-bordered-td" location="sch214"></td>
		<td class="schedule-bordered-td" location="sch314"></td>
		<td class="schedule-bordered-td" location="sch414"></td>
		<td class="schedule-bordered-td" location="sch514"></td>
		<td class="schedule-bordered-td" location="sch614"></td>
	</tr>
</table>
